<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/header"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ataturkuni_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login4"
        tools:targetApi="31">

        <activity
            android:name=".KullanicilarActivity"
            android:exported="true"
            android:label="Öğrenci Tablosu">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NotlarActivity"
            android:exported="false"
            android:label="Notlandırma İşlemleri">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOnayListesiActivity"
            android:exported="false"
            android:label="Admin Onay Listesi">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DersEkleCikarActivity"
            android:exported="false"
            android:label="Ders Ekle-Çıkart">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminDersListesiActivity"
            android:exported="true"
            android:label="Admin Ders Listesi">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".YemekListesiActivity"
            android:exported="false"
            android:label="Aylık Yemek Listesi">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminActivity"
            android:exported="true"
            android:label="Admin Panel">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OgretmenActivity"
            android:exported="true"
            android:label="Öğretim Üyesi">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AnasayfaActivity"
            android:exported="true"
            android:label="Anasayfa">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GuncelleActivity"
            android:exported="false"
            android:label="Profil Bilgileri Güncelle">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PsifirlaActivity"
            android:exported="false"
            android:label="Parolayı Sıfırla">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityUye"
            android:exported="true"
            android:label="Üye Ol">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GirisActivity"
            android:exported="true"
            android:label="AtaUniObs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProfilActivity"
            android:exported="true"
            android:label="Profil Bilgileriniz">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>